.calendar-entry {
    z-index: 5;
    height: 90px;
    background-color: pink;
    color: black;
    border-radius: 1.25rem;
    list-style-type: none;
    box-shadow: 3px 4px 5px rgb(123, 127, 134);
}

.calendar-entry[project-id="1"] {
    background-color: rgb(72, 196, 121);
}

.calendar-entry[project-id="2"] {
    background-color: rgb(202, 214, 28);
}

.calendar-entry[project-id="3"] {
    background-color: rgb(197, 97, 97);
}

.calendar-entry:hover {
    box-shadow: 3px 4px 5px rgb(59 58 61);
}

.calendar-entry .draggable {
    padding-top: 7px;
    padding-left: 8px;
}

.calendar-entry p {
    padding-left: 8px;
}

.custom-menu {
    display: none;
    z-index: 10;
    position: absolute;
    overflow: visible;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    width: 185px;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.icon-itemMenu {
    font-size: 18px !important;
    padding-right: 5px;
}

.arrow-right {
    padding-left: 65px;
}

.process-subMenu {
    display: none;
    z-index: 15;
    position: absolute;
    left: 183px;
    top: 39px;
    overflow: visible;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    width: 110px;
}
